/* app/globals.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Ou outra fonte que preferir */
    background-color: #f9f9f9; /* Cor de fundo suave */
    color: #333; /* Cor do texto padrão */
  }
  
  @font-face {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/GreatVibes-Regular.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-display: swap;
  }