/* app/components/Hero.module.css */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@700&display=swap"); /* Importa a fonte Great Vibes e Playfair Display */

.hero {
  position: relative;
  height: calc(100vh - 70px);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  z-index: 2;
  text-align: center;
  padding: 0 20px;
}

.title {
  font-family: "Great Vibes", cursive; /* Aplica a nova fonte cursiva para um toque sofisticado */
  font-size: 4rem; /* Tamanho do título ajustado */
  margin: 0;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-family: "Playfair Display", serif; /* Mantém o Playfair Display para o subtítulo */
  font-size: 1.8rem;
  margin: 1rem 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 14px 32px;
  border: none;
  border-radius: 8px;
  background-color: #ffb3b3;
  color: #333;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #ff7f7f;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .title {
    font-size: 2.7rem; /* Tamanho do título reduzido para tablets */
  }

  .subtitle {
    font-size: 1.4rem; /* Subtítulo menor para tablets */
  }

  .button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .hero {
    height: 60vh;
  }
}

/* Ajustes para dispositivos menores que 480px (celulares) */
@media (max-width: 480px) {
  .title {
    font-size: 2rem; /* Título ainda menor para celulares */
  }

  .subtitle {
    font-size: 1rem; /* Subtítulo menor para celulares */
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 16px; /* Botão menor para caber na tela */
  }

  .hero {
    height: calc(100vh - 70px);
  }

  .content {
    padding: 0 10px; /* Reduz o padding para caber melhor em telas menores */
  }
}