.servicosContainer {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

/* Grid principal: 3 colunas para os serviços e 1 coluna para o formulário */
.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

/* Grid dos cards dos serviços */
.servicosGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  justify-items: center;
}

/* Cards de serviços */
.servicoCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 350px;
}

/* Efeito hover nos cards */
.servicoCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagem dos cards */
.servicoImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.servicoTitle {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

.servicoDescription {
  font-size: 1rem;
  margin-top: 10px;
  color: #666;
  flex-grow: 1;
}

/* Estilo para o formulário */
.colunaForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

/* Título do formulário */
.colunaForm h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

/* FAQ Section */
.faqSection {
  margin-top: 40px;
}

.faqItem {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.faqItem h4 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.faqItem p {
  font-size: 1rem;
  color: #666;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .servicosGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .colunaForm {
    margin-top: 20px;
    max-width: 100%;
  }
}
