/* Styles para a seção de Serviços */
.servicesContainer {
  text-align: center;
  padding: 5rem 1rem;
  background-color: #f5f5f5;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, rgba(245, 245, 245, 1) 1px);
  background-size: 20px 20px, cover;
  background-repeat: no-repeat, no-repeat;
}

.servicesTitle {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: #2c2c2c;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesTitle:hover {
  color: #ff5c5c; /* Cor vibrante para destacar ao passar o mouse */
}

.servicesDescription {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 2.5rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.serviceLink {
  text-decoration: none;
  color: inherit;
}

.serviceCard {
  width: 320px;
  padding: 2rem;
  background-color: #ffffff;
  border: 2px solid #ff5c5c;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s ease-in-out, background-color 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
}

.serviceCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fce4e4; /* Cor de fundo suave para hover */
}

.serviceCard img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 3px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem;
  object-fit: cover; /* Ajusta a imagem para cobrir completamente o espaço */
  transition: transform 0.3s ease-in-out;
}

.serviceCard:hover img {
  transform: scale(1.05); /* Efeito de zoom suave nas imagens */
}

.serviceTitle {
  font-size: 1.8rem;
  color: #333;
  font-family: "Playfair Display", serif;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.serviceTitle:hover {
  color: #ff5c5c;
}

.serviceDescription {
  font-size: 1rem;
  color: #555;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.6;
  flex-grow: 1;
  transition: color 0.3s ease-in-out;
}

.serviceDescription:hover {
  color: #ff5c5c; /* Destaque ao passar o mouse sobre a descrição */
}

@media (max-width: 1024px) {
  .servicesContainer {
    padding: 4rem 1rem;
  }

  .servicesTitle {
    font-size: 2.5rem;
  }

  .servicesDescription {
    font-size: 1.1rem;
  }

  .servicesList {
    flex-direction: column;
    align-items: center;
  }

  .serviceCard {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .serviceCard {
    width: 90%;
    padding: 1.5rem;
  }

  .servicesTitle {
    font-size: 2rem;
  }

  .serviceDescription {
    font-size: 1rem;
  }
}
