/* app/globals.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Ou outra fonte que preferir */
    background-color: #f9f9f9; /* Cor de fundo suave */
    color: #333; /* Cor do texto padrão */
  }
  